# Mac files
.DS_Store
# pyenv files
.python-version
# python related files
**/__pycache__/**
**/.ipynb_checkpoints/**
# projects data and notebooks
helper_notebooks/**
*.pdf
*.json
*.zip
*.lock
**/config/**
test_db.py
**/data/**
scrapers/**/errors/
scrapers/**/downloads
news_scraper_v2/**
